<% @childrens.each do |v|%>
  <div class="details col-xs-12 col-sm-8 col-md-9">
    <div>
      <div>
        <div class="box-title">
          <h4 class="title"><%= v.option_values.first.presentation%></h4>
        </div>
      </div>
    </div>
    <% rates = display_the_price(v)%>
    <% rates.each do |r|%>
        <div class="price-section">
          <span class="price"><small>MEAL PLAN:</small> <%= Spree::OptionValue.find(r.plan).presentation%></span>
          <span class="price"><small>PER/NIGHT:</small> <%=get_rate_price(r, params[:hotel_adult], params[:hotel_child])%></span>
        </div>
        <div class="action-section">
          <%= render :partial => 'spree/products/cart_form', :locals => { product: @product, variant_id: v.id, rate_id: r.id, mini: true} %>
        </div>
    <%end%>
  </div>
<% end %>



