<% @product.variants.each do |v|%>
  <div class=" ">
    <div>
      <div>
        <div class="box-title">
          <h4 class="title"><%= v.option_values.first.presentation%></h4>
        </div>
      </div>
    </div>
    <% hashs = display_the_price(v)%>
    <% hashs.each do |hash|%>
      <div class="price-section">
        <div class="price"><small>MEAL PLAN:</small> <%= Spree::OptionValue.find(Spree::Rate.find(hash[:rate]).plan).presentation%></div>
        <div class="rate"><small>PER/NIGHT:</small> <%=hash[:price]%></div>

        <div class="action-section">
          <%= render :partial => 'spree/products/cart_form', :locals => { product: @product, variant_id: v.id, rate_id: hash[:rate], mini: true} %>
        </div>
      </div>
    <%end%>
  </div>
<%end%>
