.search_date, .search_pax, .search_meal{
    list-style: none;
}

ul.search_pax li{
  display: inline;
  float: left;
  margin-right: 30px;
}

input#destination, input#keywords{
  margin-top: 15px;
}

input#start_date, input#end_date{
  margin-top: 15px;
}
